:root {
 --theme :#20062e;
 --blue :#18b2de;
 --white:#fff;
 --grey:#d7d7d7;
 --purple--grey:#8f8297;


}





body {

 
  background-color: var(--theme);
  color:var(--white);
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
input{
  font-family: 'Inter', sans-serif;
}

.signUpsignIn,.createPodcast,.podcasts,.podcastDetails,.createEpisode,.profileName{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.input-wrapper{

  width:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.userPodcasts{
  display:flex;
  gap:2rem;
  flex-wrap: wrap;margin-top: 2rem;
  justify-content: center;
}
.podcastDetail{
  width:100%;
  height:100%;
  border-radius: 20px;

}

.podcastDetail img{

  width:100%;
  height:40vh;
  object-fit:cover;
  border-radius: 20px;
  background-position: top;
background: linear-gradient(178deg, rgba(58, 129, 191, 0.30) 1.63%, rgba(65, 48, 90, 0.01) 148.18%);



}

.uploadProfileButton{

 display:flex;
 gap:20px;
 align-items: center;
 justify-content: center;
}

.logoutButton{

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color:transparent ;
  font-size: 20px;
  padding: 0 10px;
border: none;
  color: white;
  border-radius: 5px;
  height:40px;
  position: absolute;

  top:22px;
  right:90px


}

@media screen and (max-width:767px) {

  .logoutButton{

   

    right:10px


  }
  
}












